


  @import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Serif:wght@700&family=Paprika&display=swap');

#navbarNavDropdown{
    height: 50px;
    padding-left: 1214px;
    font-size: 25PX;
    /* position:fixed; */
}
nav{
    position: fixed;
}

.hyperlink{
    font-size: 35px;
    display: flex; 
    justify-content: space-between;
    text-align: right; 
    padding:12%;

}
.aboutus{
    /* width: 1000px; */
    height: 700px;
    background-color: rgb(251, 247, 247);
    border-radius: 10px;
    box-shadow: 10px 10px 8px 10px #888888;
}
.about{
    /* background-color: antiquewhite; */
    width: 600px;
    height: 600px;
    margin-top: 50px;
}
.picture{
    /* background-color: rgb(199, 128, 34); */
    width: 600px;
    height: 600px;
    margin-top: -545px;
    margin-left: 626px;
    background-image: url(./images/koothambalam.jpg);
    background-size: cover;
}
.p1{
    margin-top: 60px;
    font-size: 114px;
}
.a1{
    margin-top: 36px;
    font-size: 20px; 
    color: rgb(183, 87, 3);  
}
h1{
    margin-top: 10px;
}
.about1{
    padding-top: 15px;
    color: rgb(183, 87, 3);  
}
.empty{
    margin-top: 50px;
    text-align: center;
}
#attraction{
    margin-top: -77px;
    margin-left: 80px;
}
.content{
    font-size: 60px;
    text-align: center;
    font-family: 'Paprika', cursive;
    color: white;

}
button{
    width: 250px;
    height: 65px;
    text-align: center;
    font-size: 35px;
    align-items: center;
    margin-left: 45%;
    border-radius: 30px;
    color: white;
    background-color: rgb(104, 24, 4);
    padding: auto;
    margin-bottom: 10px;
}
/* button:hover{
    background-color: white;
    color: rgb(104, 24, 4); */
    

.availability{
    width: 55%;
    height: 49px;
    background-color: rgba(250, 235, 215, 0.596);
    border-radius: 10px;
    border: 1px solid peachpuff;
    margin-left: 480px;
    font-size: 20px;
    text-align: center;
    margin-top: 178px;
}
.check{
    font-size: 21px;
    width: 217px;
    height: 44px;
    margin-left: 57%;
    margin-bottom: -8px;
    
}
label{
    margin-top: 25px;
    
}
input{
    font-size:21px ;
}
.empty{
    width: 100%;
    height: 155px;
    
}
.booking{
    width: 100%;
    height: 500px;
    background-color: rgba(255, 166, 0, 0.55);
}
.register{
    margin-left: 155px;
    /* margin-top: 25px; */
}

/* .koothambalam p{
    font-size: 25px;
    
} */
/* .koothambalam h3{
    color: maroon;
} */
/* .subhead1{
    text-align: right;
    padding-right: 50px;
    padding-top: 0px;
} */
/* .yoga p{
    font-size: 25px;
    display: block;
    
} */
/* .yoga h3{
    color: maroon; */
/* }
.subhead2{
    text-align: right;
    padding-right: 50px;
    padding-top: 0px;
} */
/* .treehouse p{
    font-size: 25px;
    display: block;
    
} */
/* .treehouse h3{
    color: maroon; */
/* }
.subhead3{
    text-align: right;
    padding-right: 50px;
    padding-top: 0px;
} */
.eventandpackages{
    width: 100%;
    height: 500px;
    border:whitesmoke solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue
}
.coll{
    width: 20%;
    height: 450px;
    border: black solid;
    border-radius: 10px;
    font-size: 25px;
    /* margin-bottom */
    background-color: rgb(253, 225, 171);
    color:violet;
}
.coll h2{
    color: rgb(95, 3, 95);
}
.coll a{
    color: black;
    
}
.coll:hover{
    background-color:violet;
    color:wheat;
}
 
  

.containers{
    max-width: 1170px;
    background-color: rgb(65, 60, 60);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    
}
.footer{
    background-color: rgb(65, 60, 60);
    padding: 70px 0;

}
.footer-col{
    width: 25%;
    padding:15px;
}
.col-3 h4{
    font-size: 25px;
    color:wheat;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col-3 a{
    color: aqua;
    font-size: 20px;
}
.paragraph{
    background-color: white;
}
.button{
    margin-top: 46px;
}

.em{
    height: 100px;
}

